doctype html

html( lang = "en" )

	head
	
		meta( charset = "UTF-8" )
		title Resto Template - Homepage
		
		meta( name = "viewport" content = "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" )
		
		link( rel = "stylesheet" href = "css/style.css" type = "text/css" )
		
		link( rel = 'shortcut icon' type = 'image/x-icon' href = 'favicon.png' )
		
	body
	
		include ./include/header.jade
		
		main(class="main")
		
			.main__hero
				h2 This Template Is Awesome
				p resto restaurant home page website template
				
			.main__menu
				p The Menu
				ul
					li(class="main__menu__item")
						.main__menu__item__name
							h4 Voluptate cillum fugiat.
							p Cheese, tomato, mushrooms, onions.
						.main__menu__item__price
							p $50
					li(class="main__menu__item")
						.main__menu__item__name
							h4 Arcu pede enim justo.
							p Tuna, Sweetcorn, Cheese.
						.main__menu__item__price
							p $45
					li(class="main__menu__item")
						.main__menu__item__name
							h4 Metus varius laoreet.
							p Chicken, mozzarella cheese, onions.
						.main__menu__item__price
							p $62
					li(class="main__menu__item")
						.main__menu__item__name
							h4 Cras dapibussemper nisi.
							p Pineapple, Minced Beef, Cheese.
						.main__menu__item__price
							p $32
					li(class="main__menu__item")
						.main__menu__item__name
							h4 Donec sodales magna.
							p Tuna, Sweetcorn, Cheese.
						.main__menu__item__price
							p $25
					li(class="main__menu__item")
						.main__menu__item__name
							h4 Quam semper libero.
							p Cheese, tomato, mushrooms, onions.
						.main__menu__item__price
							p $15
					li(class="main__menu__item")
						.main__menu__item__name
							h4 Saugue velit cursus.
							p Pineapple, Minced Beef, Cheese.
						.main__menu__item__price
							p $30
					li(class="main__menu__item")
						.main__menu__item__name
							h4 Nam eget dui Etiam.
							p Chicken, mozzarella cheese, onions.
						.main__menu__item__price
							p $35
				button
					p load more
					span
			
			.main__featured
				div
					div: img(src="images/dishimage_1.png", alt="")
					p Fugiat nulla sint
						span $50
					div
						span(class="active") &#9733;
						span(class="active") &#9733;
						span(class="active") &#9733;
						span &#9733;
						span &#9733;
				div
					div: img(src="images/dishimage_2.png", alt="")
					p Fugiat nulla sint
						span $50
					div
						span(class="active") &#9733;
						span(class="active") &#9733;
						span(class="active") &#9733;
						span &#9733;
						span &#9733;
				div
					div: img(src="images/dishimage_3.png", alt="")
					p Fugiat nulla sint
						span $50
					div
						span(class="active") &#9733;
						span(class="active") &#9733;
						span(class="active") &#9733;
						span &#9733;
						span &#9733;
				div
					div: img(src="images/dishimage_4.png", alt="")
					p Fugiat nulla sint
						span $50
					div
						span(class="active") &#9733;
						span(class="active") &#9733;
						span(class="active") &#9733;
						span &#9733;
						span &#9733;
						
			.main__gallery
				h3 The Gallery
				.main__gallery__list
					.main__gallery__list__big
						img(src="images/galleryimage_1.png", alt="")
					.main__gallery__list__dual
						div
							img(src="images/galleryimage_2_1.png", alt="")
						div
							img(src="images/galleryimage_2_2.png", alt="")
					.main__gallery__list__dual
						div
							img(src="images/galleryimage_3_1.png", alt="")
						div
							img(src="images/galleryimage_3_2.png", alt="")
							
		include ./include/footer.jade