@font-face {
    font-family: Aleo;
    src: url(../font/Aleo-Regular.otf);
}

@font-face {
    font-family: Aleo Light;
    src: url(../font/Aleo-Light.otf);
}

@font-face {
    font-family: Aleo Bold;
    src: url(../font/Aleo-Bold.otf);
}

@font-face {
    font-family: Negra;
	src: url('../font/WCManoNegraBta.otf');
}