.header {
	padding: 40px 10%;
	font-size: 0;
	background-color: #fff;
	&__logo {
		display: inline-block;
		width: 30%;
		vertical-align: middle;
	}
	&__nav {
		display: inline-block;
		width: 70%;
		text-align: right;
		vertical-align: middle;
		li {
			display: inline-block;
			a {
				color: #555;
				font-size: 14px;
				text-decoration: none;
				padding: 10px 25px;
				transition: color 0.5s 0s;
				&:hover {
					color: #F34949;
				}
			}
			&:first-child a {
				padding: 10px 25px 10px 0;
			}
			&:last-child a {
				padding: 10px 0 10px 25px;
			}
		}
	}
}