footer(class="footer")
	div
		h5 New York Restaurant
		p 3926 Anmoore Road
		p New York, NY 10014
		span 718-749-1714
	div
		h5 France Restaurant
		p 68, rue  de la Couronne
		p 75002 PARIS
		span 02.94.23.69.56
	div
		ul
			li: a(href="#") Blog
			li: a(href="#") Careers
			li: a(href="#") Privacy Policy
			li: a(href="#") Contact
	div
		img(src="images/logo_light.png", alt="")
		p © All Rights Reserved 2014.
		p Find  More at 
			a(href="#") Pixelhint.com
		