header(class="header")

	h1(class="header__logo")
		a(href="index.html"): img(src="images/logo.png", alt="Resto Template")
		
	nav(class="header__nav")
		ul
			li: a(href="#") Our Story
			li: a(href="#") Menu
			li: a(href="#") Reservations
			li: a(href="#") News
			li: a(href="#") Rviews